<div mat-dialog-title class="title">Dados do cliente</div>

<form [formGroup]="formulario" (submit)="onFormSubmit()" #formDir="ngForm">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="EX: José Silva" formControlName="nome">
                <mat-error *ngIf="campoInvalido('nome')">
                    <ng-container *ngIf="formulario.get('nome')!.errors?.['required']">O nome é obrigatório</ng-container>
                    <ng-container *ngIf="formulario.get('nome')!.errors?.['maxlength']">O tamanho maximo do nome é de 100 caracteres</ng-container>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>E-mail</mat-label>
                <input matInput placeholder="EX: josesilva@gmail.com" formControlName="email">
                <mat-error *ngIf="campoInvalido('email')">
                    <ng-container *ngIf="formulario.get('email')!.errors?.['required']">O nome é obrigatório</ng-container>
                    <ng-container *ngIf="formulario.get('email')!.errors?.['email']">O e-mail deve ser informado corretamente</ng-container>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>CPF</mat-label>
                <input matInput placeholder="000.000.000-00" mask="000.000.000-00" formControlName="cpf">
                <mat-error *ngIf="campoInvalido('cpf')">
                    <ng-container *ngIf="formulario.get('cpf')!.errors?.['required']">O CPF é obrigatório</ng-container>
                    <ng-container *ngIf="formulario.get('cpf')!.errors?.['cpfNotValid']">O CPF deve ser informado corretamente</ng-container>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Data de nascimento</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dataNascimento">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Graduação</mat-label>
                <mat-select formControlName="graduacao">
                    @for (graduacao of graduacoes; track graduacao.key) {
                    <mat-option [value]="graduacao.key">{{graduacao.value}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-radio-group aria-label="Select an option" class="radio-group" formControlName="genero">
                <mat-label>Gênero</mat-label>
                <mat-radio-button value="M">Masculino</mat-radio-button>
                <mat-radio-button value="F">Feminino</mat-radio-button>
                <mat-radio-button value="N">Não informar</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>

    <div mat-dialog-actions class="action">
        <button mat-raised-button class="salvar" color="primary" type="submit"
            [disabled]="isSubmiting || formDir.pristine || formDir.invalid">Salvar</button>
        <button mat-raised-button class="cancelar" type="button" [mat-dialog-close]="false">Cancelar</button>
    </div>
</form>